<table>
    <thead>
        <tr>
            <th>Character Name</th>
            <th>Superbloom</th>
            <th>Rep Weekly</th>
            <th>Dream Seeds</th>
        </tr>
    </thead>
    <tbody>
        {% for item in progress %}
        <tr>
            <td>{{ item.char_name }}</td>
            <td>{% if item.superbloom %}Yes{% else %}No{% endif %}</td>
            <td>{% if item.rep_weekly %}Yes{% else %}No{% endif %}</td>
            <td>{% if item.dream_seeds %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>