{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Wow Character Tracker</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Wow Character Tracker</h1>
            <div class="nav">
                <form method="get" action="{% url 'check_weekly_quests' %}">
                    <button type="submit">Weekly</button>
                </form>
                <form method="get" action="{% url 'get_quests' %}">
                    <input type="hidden" name="init" value="true">
                    <button type="submit">Quest</button>
                </form>
                {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <p>Copyright &copy; 2024 Baseprotocol.com</p>
        </div>
    </footer>
</body>
</html>