{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Wow Character Tracker</title>
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Wow Character Tracker</h1>
            {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Copyright &copy; 2024 Baseprotocol.com</p>
    </footer>
</body>
</html>